.createPost {
    width: 723px;
    height: 349px;
    border: 1px solid #999;
    margin: 44px auto 0px auto;
    display: flex;
    flex-direction: column;
}

.createPost h4 {
    font-size: 22px;
    margin-top: 23px;
    margin-left: 30px;
}

.createPost #titleLabel {
    margin-top: 5px;
    margin-left: 30px;
}

.createPost #inputTitle {
    margin-top: 7px;
    margin-left: 30px;
    width: 659px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
}

.createPost #contentLabel {
    margin-top: 19px;
    margin-left: 30px;
}

.createPost #inputContent {
    margin-top: 7px;
    margin-left: 30px;
    width: 659px;
    height: 74px;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
}

.createPost #button {
    margin-top: 25px;
    margin-left: 578px;
    width: 111px;
    height: 33px;
    background-color: #000;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

}


@media screen and (max-width: 900px) {
   .createPost {
       width: 625px;
   }

   .createPost #inputTitle {
       width: 560px;
   }

   .createPost #inputContent {
    width: 560px;
    }

    .createPost #button {
        margin-left: 480px;
    }
}

@media screen and (max-width: 760px) {
    .createPost {
        width: 590px;
    }
 
    .createPost #inputTitle {
        width: 520px;
    }
 
    .createPost #inputContent {
     width: 520px;
     }
 
     .createPost #button {
         margin-left: 438px;
     }
 }


@media screen and (max-width: 680px) {
    .createPost {
        width: 550px;
    }
 
    .createPost #inputTitle {
        width: 490px;
    }
 
    .createPost #inputContent {
     width: 490px;
     }
 
     .createPost #button {
         margin-left: 405px;
     }
}