.createPost {
    width: 90%;
    height: 349px;
    padding: 0px 30px;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 44px 39px 34px 38px;
}

.createPost h4 {
    width: 100%;
    margin: 23px 394px 34px 0px;
    font-size: 22px;
}

.createPost #titleLabel {
    margin: 0px 660px 7px 1px;
}

.createPost #inputTitle {
    margin: 0px 34px 19px 0px;
    width: 100%;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
}

.createPost #contentLabel {
    margin: 0px 635px 7px 1px;
}

.createPost #inputContent {
    width: 100%;
    height: 74px;
    margin: 0px 34px 35px 0px;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

#divButton {
    margin: 0px 34px 29px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.createPost .button {
    width: 111px;
    height: 33px;
    background-color: #000;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5px;
}

#buttonNotActive {
    background-color: gainsboro;
    border: none;
    cursor: not-allowed;
}

