.createPost {
    width: 723px;
    height: 349px;
    border: 1px solid #999;
    margin: 44px auto 0px auto;
    display: flex;
    flex-direction: column;
}

.createPost h4 {
    margin-top: 23px;
    margin-left: 30px;
}

.createPost #titleLabel {
    margin-top: 34px;
    margin-left: 30px;
}

.createPost #inputTitle {
    margin-top: 7px;
    margin-left: 30px;
    width: 659px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
}

.createPost #contentLabel {
    margin-top: 19px;
    margin-left: 30px;
}

.createPost #inputContent {
    margin-top: 7px;
    margin-left: 30px;
    width: 659px;
    height: 74px;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
}

.createPost #button {
    margin-top: 25px;
    margin-left: 578px;
    width: 111px;
    height: 33px;
    background-color: #000;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

}