.crudView {
    width: 90%;
    margin: 0px 39px 45px 38px;
    border: 1px solid black; 
    box-shadow: 2px 2px 5px black;
}

.divInlineElements {
    display: flex;
    justify-content: space-between;
}

#datetime {
   margin-top: 23px;
   margin-right: 25px;
}

#username {
  margin-top: 23px;
  margin-left: 30px;
}

#content {
    margin: 18px 31px 57px 30px;

}

.buttonEdit {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;   
    margin: 23.75px 0px 23.75px 33px;

}

.buttonDelete {
    background-color: #000;
    color: white;
    border: none;
    margin: 23.75px 0px 23.75px 300px;
    cursor: pointer;
    display: block;  
} 

.teste {
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}


.divPageButton {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.pageButton {
    width: 120px;
    height: 33px;
    background-color: #000;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000;
    display: inline;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 5px;
}

.pageButton:active {
    box-shadow: none;
}

.buttonDelete:hover {
    background-color: rgba(220, 220, 220, 0.3);
}


.buttonEdit:hover {
    background-color: rgba(220, 220, 220, 0.3);
}


#buttonDeactivated {
    background-color: gainsboro;
    border: gainsboro;
    cursor: not-allowed;
}
