.DeleteComponent {
    width: 661px;
    height: 168px;
    background-color: #fff;
    box-shadow: 2px 2px 5px;
}

.DeleteComponent p {
    margin-top: 34px;
    margin-left: 49px;
}

.DeleteComponent #yesButton {
    width: 111px;
    height: 33px;
    margin-right: 16px;
    margin-left: 389px;
    margin-top: 50px;
}

.DeleteComponent #noButton {
    width: 111px;
    height: 33px;
}

.DeleteComponent button {
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}