.editComponent {
    height: 349px;
    width: 40%;
    box-shadow: 2px 2px 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.editComponent p {
    margin-left: 30px;
    margin-top: 23px;
}

.editComponent #titleLabel {
    margin-top: 5px;
    margin-left: 30px;
}

.editComponent #inputTitle {
    margin-top: 7px;
    margin-left: 30px;
    width: 90%;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
}

.editComponent #contentLabel {
    margin-top: 19px;
    margin-left: 30px;
}

.editComponent #inputContent {
    margin-top: 7px;
    margin-left: 30px;
    width: 90%;
    height: 74px;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
    overflow-wrap: break-word;
}

.editComponent .editButton {
    width: 111px;
    height: 33px;
    background-color: #000;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    border-radius: 5px;

}

.editComponent .buttonDiv {
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
    .editComponent {
        width: 70%;
    }
 }

 @media screen and (max-width: 900px) {
    .editComponent #inputTitle {
        width: 88%;
    }
    .editComponent #inputContent {
        width: 88%;
    }

    .editComponent .buttonDiv {
        width: 88%;
    }
 }

 @media screen and (max-width: 700px) {
    .editComponent #inputTitle {
        width: 85%;
    }
    .editComponent #inputContent {
        width: 85%;
    }

    .editComponent .buttonDiv {
        width: 85%;
     
    }
 }

 @media screen and (max-width: 530px) {
    .editComponent #inputTitle {
        width: 82%;
    }
    .editComponent #inputContent {
        width: 82%;
    }

    .editComponent .buttonDiv {
        width: 82%;
    
    }
 }

 @media screen and (max-width: 420px) {
    .editComponent #inputTitle {
        width: 74%;
    }
    .editComponent #inputContent {
        width: 74%;
    }

    .editComponent .buttonDiv {
        width: 70%;
    }
 }