.header {
    width: 100%;
    height: 80px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.header h1 {
    position: absolute;
    width: 188px;
    height: 26px;
    margin-left: 37px;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    white-space: nowrap;
}