.header {
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    padding: 0px 28.75px 0px 30px;
    box-sizing: border-box;
}

.header h1 {
    width: 75%;
    margin: 24px 350.75px 24px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}
