.LoginContainer {
    height: 220px;
    width: 90%;
    background-color: #fff;
    box-shadow: 1px 1px 2px gray;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 500px;
    padding-left: 31px;
    padding-right: 25px;
}

.LoginContainer p {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin: 28px 130px 30px 1px;
    width: 100%;
    height: 500;
}

.LoginContainer label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0px 244px 0px 1px;
}

.LoginContainer input {
    width: 100%;
    height: 28px;
    margin: 13px 0px 20px 0px;
    background: #FFFFFF;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
}

.divEnterButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.LoginContainer button {
    width: 111px;
    height: 33px;
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

#buttonDeactivated {
    background-color: gainsboro;
    border: gainsboro;
    cursor: not-allowed;
}

@media screen and (max-width: 401px) {
    .LoginContainer p {
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 300px) {
    .LoginContainer p {
        margin-top: 25px;
        font-size: 17px;
    }
    .LoginContainer label {
        font-size: 15px;
    }
}