.enterCrud {
    height: 220px;
    width: 500px;
    border: 1px solid #CCC;
    background-color: white;
    display: flex;
    flex-direction: column


}

.enterCrud h4 {
    position: absolute;
    width: 313px;
    height: 26px;
    left: 742px;
    top: 290px;

    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    white-space: nowrap;
}
.enterCrud label {
    position: absolute;
    left: 742px;
    top: 360px;
}


.input {
    position: absolute;
    height: 28px;
    width: 444px;
    left: 740px;
    top: 395px;
}

.button {
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    height: 33px;
    width: 111px;
    top: 450px;
    left: 1074px;
}